.skeleton {
  background-color: var(--secondary-color);
  background: linear-gradient(90deg, var(--secondary-color) 8%, #f0f0f0 18%, var(--secondary-color) 33%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
